<header class="banner" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="social">
          <a href="https://www.facebook.com/pages/Organic-ZOO/182279625139354?fref=ts" target="_blank"><img src="https://lh4.googleusercontent.com/-vAPcP-idqtQ/U_WrfBg6tyI/AAAAAAAAF18/mfSUcSYUPgk/s2048/Icon_FB_30px.png" border="0" alt="FB"></a>
          <a href="https://instagram.com/organiczoo" target="_blank"><img src="https://lh6.googleusercontent.com/-kaaUsvAK04U/U_WrjXoziMI/AAAAAAAAF2M/lltjIyLCcWE/s2048/Icon_Insta_30px.png" border="0" alt="Instagram"></a>
          <a href="http://www.pinterest.com/paulinkastar/" target="_blank"><img src="https://lh4.googleusercontent.com/-s-zrUwoaxwQ/U_WrlgkQFYI/AAAAAAAAF2U/iAHGOlGjSaw/s2048/Icon_PIN_30px.png" border="0" alt="pinterest"></a>
          <a href="https://plus.google.com/u/0/b/111756226432980741878/111756226432980741878/posts" target="_blank"><img src="https://lh6.googleusercontent.com/-ZuoLRUBg4Z0/U_WrhXR_vEI/AAAAAAAAF2E/zGjJB-4vlss/s2048/icon_G_30px.png" border="0" alt="g+"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

        <%= form_tag spree.products_path, :method => :get, class: "search-form form-inline" do %>
          <div class="form-group">
            <% cache(cache_key_for_taxons) do %>
              <%= select_tag :taxon,
                    options_for_select([[Spree.t(:all_departments), '']] +
                                          @taxons.map {|t| [t.name, t.id]},
                                          @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control" %>
            <% end %>
          </div>
          <div class="input-group">
            <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "search-field form-control" %>
            <span class="input-group-btn">
              <button type="submit" class="search-submit btn btn-default"><%= Spree.t(:search) %></button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 main-logo">
        <img src="http://organiczoo.local/wp-content/themes/organic-zoo/assets/images/organic-zoo-logo2.gif" alt="OrganicZoo Childrenswear">
      </div>
    </div>
    <nav class="top-nav" role="navigation">
      <div class="menu-menu-1-container">
        <ul id="menu-menu-1" class="main-nav">
          <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-19"><a href="<%= root_url %>">home</a></li>
          <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="http://organiczoo.local/about/">about</a></li>
          <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="http://organiczoo.local/lookbook/">lookbook</a></li>
          <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://organiczoo.local/stockists/">stockists</a></li>
          <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://organiczoo.local/journal/">journal</a></li>
          <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://organiczoo.local/contact/">contact</a></li>
        </ul>
      </div>    
    </nav>
    <%= render :partial => 'spree/shared/oz_main_nav_bar' if store_menu? %>
  </div>
</header>